<p id="notice"><%= notice %></p>

<h1>Game V2s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_v2s.each do |game_v2| %>
      <tr>
        <td><%= game_v2.name %></td>
        <td><%= link_to 'Show', game_v2 %></td>
        <td><%= link_to 'Edit', edit_game_v2_path(game_v2) %></td>
        <td><%= link_to 'Destroy', game_v2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game V2', new_game_v2_path %>
