<%- if @is_player %>
  <div style='margin-bottom: 20px;'>
    It's your turn!
  </div>

  <div class='word-announce'>
    Your word is <span class='word'> <%= @word.label %></span>
  </div>

  <form action='<%= rotate_game_path %>' >
    <input type=submit value='Rotate to next player'>
    <input type=hidden name=id value=<%=params[:id] %>>
  </form>

<%- else %>
  It's not your turn yet because
  <span class='player-name'><%= @current_player.name %></span>
  is playing. To check if the turn has returned to you, <%= link_to 'refresh this screen', play_game_path(@game) %>
<% end %>
