<!DOCTYPE html>
<html>
  <head>
    <title>Taboo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='bs4'>
      <div class="container">
        <% if notice %>
          <div class=row>
            <div class='alert alert-danger col text-center'>
              <p id="notice"><%= notice %></p>
            </div>
          </div>
        <% end %>

        <% unless params[:controller] == 'devise/sessions' %>
          <div class=row>
            <div class='col'>
              <%= render partial: 'partials/login_bar' %>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
