<!DOCTYPE html>
<html>
  <head>
    <title>Taboo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
     (function(w,d,v3){
       w.chaportConfig = { appId : '5f5d6ae5a35a5571db09e933' };

       if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);

      window.addEventListener('turbolinks:load', function(e) { window.ChaportUpdate.updateChaport(); } );
    </script>
  </head>

  <body>
    <div class='bs4'>
      <div class="container">
        <% if notice %>
          <div class=row>
            <div class='alert alert-danger col text-center'>
              <p id="notice"><%= notice %></p>
            </div>
          </div>
        <% end %>

        <% unless params[:controller] == 'devise/sessions' %>
          <div class=row>
            <div class='col'>
              <%= render partial: 'partials/login_bar' %>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
